<div class="wrapper " style="border: none; margin-left: .2cm;">
    <div class="item"><img src="/assets/image/offer.png" class="rounded float-start"
        style="width: 150px; margin-top: 1cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/smwatches.png" class="rounded float-start"
        style="width: 180px; margin-top: .6cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/list/kids3.png" class="rounded float-start" style="width: 140px;" alt="..."
        id="shoe"></div>
    <div class="item"><img src="/assets/image/homeappliance.webp" class="rounded float-start"
        style="width: 200px; margin-left: -.2cm; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/laptop.png" class="rounded float-start"
        style="width: 140px; margin-top: .6cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/kitchen.png" class="rounded float-start"
        style="width: 200px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/sports.png" class="rounded float-start"
        style="width: 120px; margin-left: .6cm; margin-top: .3cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/iphone.png" class="rounded float-start"
        style="width: 160px; margin-top: .4cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/list/mens.jpg" class="rounded float-start"
        style="width: 140px; margin-top: .3cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/list/girl.png" class="rounded float-start" style="width: 150px; margin-left: 20px;" alt="..."
        id="shoe"></div>
    <div class="item"><img src="/assets/image/mobileph.jpg" class="rounded float-start" style="width: 150px;" alt="..."
        id="shoe"></div>
    <div class="item"><img src="/assets/image/footwearlable.jpg" class="rounded float-start"
        style="width: 140px; margin-top: .3cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/glosery.png" class="rounded float-start"
        style="width: 180px; margin-top: .4cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/perfume.png" class="rounded float-start"
        style="width: 170px; margin-top: .3cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/stationary.png" class="rounded float-start"
        style="width: 170px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/makeup.jpg" class="rounded float-start"
        style="width: 140px; margin-top: .3cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/foods.webp" class="rounded float-start"
        style="width: 140px; margin-top: .3cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/rings.png" class="rounded float-start"
        style="width: 150px; margin-top: .7cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/shoes.png" class="rounded float-start"
        style="width: 140px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/cake.webp" class="rounded float-start"
        style="width: 140px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/handcraft.png" class="rounded float-start"
        style="width: 140px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/furniture.jpg" class="rounded float-start"
        style="width: 170px; margin-top: .8cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/list/chappal.png" class="rounded float-start"
        style="width: 120px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/comming.avif" class="rounded float-start"
        style="width: 160px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/comming.avif" class="rounded float-start"
        style="width: 160px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/comming.avif" class="rounded float-start"
        style="width: 160px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/comming.avif" class="rounded float-start"
        style="width: 160px; margin-top: .5cm;" alt="..." id="shoe"></div>
    <div class="item"><img src="/assets/image/comming.avif" class="rounded float-start"
        style="width: 160px; margin-top: .5cm;" alt="..." id="shoe"></div>
  
  </div>
